In [2]:
import pandas as pd
import numpy as np
import plotly.express as px
import copy
import datetime

# Сборка датафрейма для модели

In [3]:
print(datetime.datetime.now())

2022-03-14 23:41:51.753405

## Данные

In [35]:
df_uuid_x_education_labeled = pd.read_csv('data/features/education_field_of_study_classes.csv', index_col=0)

df_uuid_x_skills_list = pd.read_csv('data/uuid_x_skills_fields.csv', index_col=0)\
.groupby('org_uuid')['skill']\
.apply(list)\
.reset_index()

venture_results = pd.read_csv('data/important/company_list.csv')

In [31]:
df_uuid_x_education_labeled.head(5)

,org_uuid,education_field_of_study,Class,top1,top2
0,438c7e89-ba0c-b8cc-7ea6-1a0ac47ae40d,English,Other,0.201535,0.198198
1,438c7e89-ba0c-b8cc-7ea6-1a0ac47ae40d,"English, History",Other,0.145493,0.142640
2,b37187f2-8ad4-8225-cfa2-2757f2ef9bc4,"Electrical, Electronics and Communications Eng...",Computer Science,0.446723,0.250942
3,46c990f6-e14d-3cfe-0bba-a95a6692cfad,Political Science,Computer Science,0.395413,0.278185
4,46a7242e-ff55-5748-a6d3-207bef892d3e,Computer Science (Informations Systems Special...,Computer Science,0.694438,0.363370

In [32]:
df_uuid_x_skills_list.head(5)

,org_uuid,skill
0,00572f97-a71a-912f-33ff-53e630513374,"[Microsoft Excel, Microsoft Office, Inventory ..."
1,00609688-b615-b0b0-e989-2fbb4909216c,"[Contract Negotiation, Media Finance, Legal, I..."
2,00d3295a-366d-7601-6d8b-07823985e179,"[Start-ups, Investment Banking, Private Equity..."
3,01468916-8c37-1341-3953-7b58ee83c762,"[Medical Affairs, Decision Making, Immunology,..."
4,016c02c6-23a1-4718-6b81-88b9998415e1,"[Internal Audit, Finance, Credit, Underwriting..."

In [36]:
venture_results.head(5)

,company_name,region,city,company_uuid,number_of_rounds,exit_type,homepage_url,linkedin_url,cb_url
0,1Life Healthcare,SF Bay Area,San Francisco,bc6b1ba7-78e3-f3bd-a42d-be7394d41f90,7,dead,http://www.1life.com,NaN,https://www.crunchbase.com/organization/1life-...
1,21.co,SF Bay Area,San Francisco,12e72873-b63e-349f-e24b-21ad5ad87d47,3,dead,https://21.co,https://www.linkedin.com/company/21dotco/,https://www.crunchbase.com/organization/21e6
2,2U Inc.,MD - Other,Hyattsville,da9c5e38-35ef-54e8-7ca7-72494f0d9f72,7,ipo,http://2u.com,https://www.linkedin.com/company/2u,https://www.crunchbase.com/organization/2u
3,818 Sports & Entertainment,New York City,New York,4b8f4fbc-d911-1485-26a5-9ad75d12dcea,3,dead,http://www.818se.com/,http://www.linkedin.com/company/818-sports-&-e...,https://www.crunchbase.com/organization/818-sp...
4,ADOR,Seattle,Seattle,72a1d63c-52d4-f639-e986-7b89a27c70f8,6,sold,http://ador.com,NaN,https://www.crunchbase.com/organization/ador

## Cборка таблицы

#### education_filed_of_study X skills

In [22]:
df = df_uuid_x_education_labeled.merge(
    df_uuid_x_skills_list,
    how='inner', 
    on='org_uuid',
)

In [24]:
df.head(5)

,org_uuid,education_field_of_study,Class,top1,top2,skill
0,438c7e89-ba0c-b8cc-7ea6-1a0ac47ae40d,English,Other,0.201535,0.198198,"[Advertising, Email Marketing, Social Media, E..."
1,438c7e89-ba0c-b8cc-7ea6-1a0ac47ae40d,"English, History",Other,0.145493,0.142640,"[Advertising, Email Marketing, Social Media, E..."
2,b37187f2-8ad4-8225-cfa2-2757f2ef9bc4,"Electrical, Electronics and Communications Eng...",Computer Science,0.446723,0.250942,"[Wireless LAN Controller, 802.11n, VxWorks, Ro..."
3,b37187f2-8ad4-8225-cfa2-2757f2ef9bc4,Advanced Technologies and Computer Science,Computer Science,0.735145,0.251178,"[Wireless LAN Controller, 802.11n, VxWorks, Ro..."
4,b37187f2-8ad4-8225-cfa2-2757f2ef9bc4,Global Leadership and Public Policy,Management,0.384585,0.056121,"[Wireless LAN Controller, 802.11n, VxWorks, Ro..."

In [27]:
df.to_csv('data/features/uuid_x_efofs_class_x_skills.csv')

#### education_filed_of_study X skills X venture results

In [ ]:
df = df_uuid_x_education_labeled.merge(
    df_uuid_x_skills_list,
    how='inner', 
    on='org_uuid',
).merge(
    venture_results,
    how='inner', 
    on='org_uuid',
)