In [2]:
import pandas as pd
import numpy as np
import plotly.express as px
import copy
import datetime

# Сборка датафрейма для модели

In [3]:
print(datetime.datetime.now())

2022-03-14 23:41:51.753405

## Данные

In [19]:
df_uuid_x_education_labeled = pd.read_csv('data/features/education_field_of_study_classes.csv', index_col=0)
df_uuid_x_skills_list = pd.read_csv('data/uuid_x_skills_fields.csv', index_col=0)\
.groupby('org_uuid')['skill']\
.apply(list)\
.reset_index()

In [20]:
df_uuid_x_education_labeled.head(5)

,org_uuid,education_field_of_study,Class,top1,top2
0,438c7e89-ba0c-b8cc-7ea6-1a0ac47ae40d,English,Other,0.201535,0.198198
1,438c7e89-ba0c-b8cc-7ea6-1a0ac47ae40d,"English, History",Other,0.145493,0.142640
2,b37187f2-8ad4-8225-cfa2-2757f2ef9bc4,"Electrical, Electronics and Communications Eng...",Computer Science,0.446723,0.250942
3,46c990f6-e14d-3cfe-0bba-a95a6692cfad,Political Science,Computer Science,0.395413,0.278185
4,46a7242e-ff55-5748-a6d3-207bef892d3e,Computer Science (Informations Systems Special...,Computer Science,0.694438,0.363370

In [21]:
df_uuid_x_skills_list.head(5)

,org_uuid,skill
0,00572f97-a71a-912f-33ff-53e630513374,"[Microsoft Excel, Microsoft Office, Inventory ..."
1,00609688-b615-b0b0-e989-2fbb4909216c,"[Contract Negotiation, Media Finance, Legal, I..."
2,00d3295a-366d-7601-6d8b-07823985e179,"[Start-ups, Investment Banking, Private Equity..."
3,01468916-8c37-1341-3953-7b58ee83c762,"[Medical Affairs, Decision Making, Immunology,..."
4,016c02c6-23a1-4718-6b81-88b9998415e1,"[Internal Audit, Finance, Credit, Underwriting..."

## Cборка таблицы

#### education_filed_of_study X skills

In [22]:
df = df_uuid_x_education_labeled.merge(
    df_uuid_x_skills_list,
    how='inner', 
    on='org_uuid',
)

In [24]:
df.head(5)

,org_uuid,education_field_of_study,Class,top1,top2,skill
0,438c7e89-ba0c-b8cc-7ea6-1a0ac47ae40d,English,Other,0.201535,0.198198,"[Advertising, Email Marketing, Social Media, E..."
1,438c7e89-ba0c-b8cc-7ea6-1a0ac47ae40d,"English, History",Other,0.145493,0.142640,"[Advertising, Email Marketing, Social Media, E..."
2,b37187f2-8ad4-8225-cfa2-2757f2ef9bc4,"Electrical, Electronics and Communications Eng...",Computer Science,0.446723,0.250942,"[Wireless LAN Controller, 802.11n, VxWorks, Ro..."
3,b37187f2-8ad4-8225-cfa2-2757f2ef9bc4,Advanced Technologies and Computer Science,Computer Science,0.735145,0.251178,"[Wireless LAN Controller, 802.11n, VxWorks, Ro..."
4,b37187f2-8ad4-8225-cfa2-2757f2ef9bc4,Global Leadership and Public Policy,Management,0.384585,0.056121,"[Wireless LAN Controller, 802.11n, VxWorks, Ro..."

In [27]:
df.to_csv('data/features/uuid_x_efofs_class_x_skills.csv')