In [2]:
import pandas as pd
import numpy as np
import plotly.express as px
import copy
import datetime
import matplotlib.pyplot as plt

In [3]:
print(datetime.datetime.now())

2022-03-15 00:34:00.116103

## Данные

In [4]:
df = pd.read_csv('data/features/uuid_x_efofs_class_x_skills.csv', index_col=0)
df

,org_uuid,education_field_of_study,Class,top1,top2,skill
0,438c7e89-ba0c-b8cc-7ea6-1a0ac47ae40d,English,Other,0.201535,0.198198,"['Advertising', 'Email Marketing', 'Social Med..."
1,438c7e89-ba0c-b8cc-7ea6-1a0ac47ae40d,"English, History",Other,0.145493,0.142640,"['Advertising', 'Email Marketing', 'Social Med..."
2,b37187f2-8ad4-8225-cfa2-2757f2ef9bc4,"Electrical, Electronics and Communications Eng...",Computer Science,0.446723,0.250942,"['Wireless LAN Controller', '802.11n', 'VxWork..."
3,b37187f2-8ad4-8225-cfa2-2757f2ef9bc4,Advanced Technologies and Computer Science,Computer Science,0.735145,0.251178,"['Wireless LAN Controller', '802.11n', 'VxWork..."
4,b37187f2-8ad4-8225-cfa2-2757f2ef9bc4,Global Leadership and Public Policy,Management,0.384585,0.056121,"['Wireless LAN Controller', '802.11n', 'VxWork..."
...,...,...,...,...,...,...
2473,2c5ff36b-b252-d36c-947d-99ecf320376b,Human Resources Management,Management,0.656825,0.229652,"['Contract Recruitment', 'Sourcing', 'IT Recru..."
2474,ee17319e-f5ee-9c9a-6500-edf82b4fbf05,Accounting,Finance,0.526841,0.401748,"['Alternative Investments', 'Financial Analysi..."
2475,e7d48747-e528-42a1-94d6-3f4c1e7d586a,Pure Mathematics,Other,0.260715,0.183062,"['Sheet Metal', 'Manufacturing Management', 'C..."
2476,3705f9f3-a94d-f2cc-e8a8-acd750ea60fd,Chemistry,Other,0.317271,0.256694,"['Fixed Income', 'Derivatives', 'High Frequenc..."
2477,3705f9f3-a94d-f2cc-e8a8-acd750ea60fd,Physical Chemistry,Other,0.303159,0.290319,"['Fixed Income', 'Derivatives', 'High Frequenc..."

In [9]:
df_exploded = df.explode('skill')
df_ = df_exploded.groupby(['Class', 'skill']).size().reset_index()
df_.rename(columns={0: 'count'}, inplace=True )
df_ = df_[df_['count'] > 50]

In [10]:
df_

Empty DataFrame
Columns: [Class, skill, count]
Index: []